<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form #form="ngForm" (ngSubmit)="addItem(form.value)" class="well">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" required name="name" ngModel />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text"  class="form-control" required name="content" ngModel />
  </div>
  <button  type="submit" class="btn btn-success">Add</button>
</form>

<button type="submit" (click)="getItem()" class="btn btn-primary">GET</button>
<button type="submit" (click)="updateItem('jajaja')" class="btn btn-primary">UPDATE</button>


  <ul class = "nav navbar-nav">
   <li><a routerLink="/login" routerLinkActive="active"> Playlist 1</a></li>
   <li><a routerLink="/homepage" routerLinkActive="active"> Playlist 2</a></li>
  </ul>
  <ul class="nav nav-pills nav-stacked">
    <li *ngFor="let post of posts"><a>{{post.content}}</a></li>
  </ul>
  <button  (click)="deleteItem()" class="btn btn-danger">DELETE</button>
-->
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <h2>HOME PAGE</h2>
  
  <div class="w3-display-topleft w3-container w3-xlarge">
    <br><br>
    <p><button (click)='Login()' class="w3-button w3-black">Login</button></p>
    <p><button (click)='Signup()' class="w3-button w3-black">Signup</button></p>
  </div>
</body>
</html>